
# Build artifacts
bin
*.o
*.gcda
*.gcno
*.so

# Coverage and test reports
**/coverage_report/
**/test-report/

# Documentation
/documentation/docs

# Python
.venv
__pycache__/
**build/
*.log
**/reports/

# Secret files
tools/bluetooth_pin.txt
tools/encrypted_pin.bin
tools/encryption_key.bin
firmware/bootloader/src/public_key.c

# VSCode
.VSCodeCounter
**/.vscode/settings.json

# Miscellaneous
.idea
/firmware/app/out.bin
/firmware/app/ucir.bin
